--USE [master]
--ALTER DATABASE DbSanchi SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
--DROP DATABASE DbSanchi;

--GO
--/****** Object:  Database [DbSanchi]    Script Date: 15-Nov-24 12:07:36 PM ******/
--CREATE DATABASE [DbSanchi]
--GO

USE [DbSanchi]
GO
/****** Object:  UserDefinedTableType [dbo].[DemandedItemsList]    Script Date: 15-Nov-24 12:07:36 PM ******/
CREATE TYPE [dbo].[DemandedItemsList] AS TABLE(
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[AdvancedCard] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[typ_SoldItems]    Script Date: 15-Nov-24 12:07:36 PM ******/
CREATE TYPE [dbo].[typ_SoldItems] AS TABLE(
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[TargetData] [decimal](18, 2) NULL,
	[SaleCumulative] [decimal](18, 2) NULL,
	[SaleAbsolute] [decimal](18, 2) NULL,
	[AvgGrowthPer] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[mst_InflowUnits]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_InflowUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Unit name] [varchar](50) NULL,
 CONSTRAINT [PK_mst_InflowUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Item]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NULL,
	[ItemCategory] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Unit]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantManufacturingData]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantManufacturingData](
	[ManufItemId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[ItemID] [int] NULL,
	[MnfID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PlantManufacturing]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PlantManufacturing](
	[MnfID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_Demand]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_Demand](
	[DemandId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[ItemCategory] [varchar](50) NULL,
	[Shift] [varchar](10) NULL,
	[Retailer] [varchar](50) NULL,
	[VehicleName] [int] NULL,
	[DemandType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DemandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_DemandsChild]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_DemandsChild](
	[DemandsChildID] [int] IDENTITY(1,1) NOT NULL,
	[DemandId] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[AdvancedCard] [int] NULL,
	[ItemID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DemandsChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trn_InflowDetails]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trn_InflowDetails](
	[InflowId] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NULL,
	[Date] [date] NULL,
	[Milkqty] [int] NULL,
	[Milkfat] [decimal](18, 2) NULL,
	[MilkSNF] [decimal](18, 2) NULL,
	[Milkfatperc] [decimal](18, 2) NULL,
	[MilkSNFperc] [decimal](18, 2) NULL,
	[IsVerifed] [bit] NULL,
	[IsApproved] [bit] NULL,
	[lysdqty] [decimal](18, 2) NULL,
	[LYSDDate] [date] NULL,
	[LYSDFatPercent] [decimal](18, 2) NULL,
	[LYSDSNFPercent] [decimal](18, 2) NULL,
	[LYSDFatKG] [decimal](18, 2) NULL,
	[LYSDSNFKG] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_Sale]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_Sale](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[NameOfUnit] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[ItemCategory] [varchar](50) NOT NULL,
	[LYSDQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_SaleChild]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_SaleChild](
	[SaleChildid] [int] IDENTITY(1,1) NOT NULL,
	[SalesID] [int] NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleChildid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnTarget]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnTarget](
	[TargetId] [int] IDENTITY(1,1) NOT NULL,
	[Targetmonth] [date] NULL,
	[ItemCategory] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnTargetChild]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnTargetChild](
	[TargetChildID] [int] IDENTITY(1,1) NOT NULL,
	[TargetId] [int] NULL,
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[TargetData] [decimal](18, 2) NULL,
	[Cumulative] [decimal](18, 2) NULL,
	[TargetAbsolute] [decimal](18, 2) NULL,
	[AvggrowthPerc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnTargetTotals]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnTargetTotals](
	[TargetId] [int] IDENTITY(1,1) NOT NULL,
	[TotalTarget] [decimal](18, 2) NULL,
	[TotalCumulative] [decimal](18, 2) NULL,
	[TotalAbsolute] [decimal](18, 2) NULL,
	[TotalAvgGrowth] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mst_InflowUnits] ON 

INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (1, N'SMP at Ware House')
INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (2, N'SMP at Gwalior')
INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (3, N'SMP at Powan Shri Food')
SET IDENTITY_INSERT [dbo].[mst_InflowUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Item] ON 

INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory]) VALUES (1, N'STD', N'Milk')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory]) VALUES (2, N'DTM', N'Milk')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory]) VALUES (3, N'LITE', N'Milk')
SET IDENTITY_INSERT [dbo].[mst_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Unit] ON 

INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (2, N'BHOPAL Route')
INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (3, N'TIMARNI Route')
INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (4, N'HOSHANGABAD Route')
SET IDENTITY_INSERT [dbo].[mst_Unit] OFF

GO
/****** Object:  StoredProcedure [dbo].[GetItemsByCategory]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc  [dbo].[GetItemsByCategory]
  @ItemCategory varchar(50) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        SELECT [ItemName] ,[ItemID] FROM [mst_Item] 
        WHERE (@ItemCategory IS NULL OR [ItemCategory] = @ItemCategory);

		SELECT	@status =1 ,@msg='Item Name selectted Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[GetProductItems]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  Create proc  [dbo].[GetProductItems]
  @ItemCategory varchar(50) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY

  if @ItemCategory='Product'
  begin
        SELECT [ItemName] ,[ItemID] FROM [mst_Item] 
        WHERE (@ItemCategory IS NULL OR [ItemCategory] = @ItemCategory);
	END else if @ItemCategory='Milk'
	begin
		SELECT @ItemCategory [ItemName] ,0 [ItemID] 
	END	  
		SELECT	@status =1 ,@msg='Item Name selectted Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddDemand]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE  proc  [dbo].[usp_AddDemand]
	@Date date
	,@ItemCategory varchar(50)
	,@Shift varchar(10)
	,@Retailer varchar(50)
	,@VehicleName varchar(20)
	,@DemandType varchar(20)
	,@DemandItems [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	  BEGIN TRY
		  BEGIN transaction 
      
			INSERT INTO [dbo].[trn_Demand]
					   ([Date]
					   ,[ItemCategory]
					   ,[Shift]
					   ,[Retailer]
					   ,[VehicleName]
					   ,[DemandType])
				 VALUES
					   (@date
					   ,@ItemCategory
					   ,@Shift
					   ,@Retailer
					   ,@VehicleName
					   ,@DemandType)
			select @DemandId =SCOPE_IDENTITY();

			INSERT INTO [dbo].[trn_DemandsChild]
					   ([DemandId]
					   ,ItemID
					   ,[ItemName]
					   ,[Quantity]
					   ,[AdvancedCard])
     
				 select @DemandId,ItemID, ItemName,Quantity,AdvancedCard from @DemandItems


			SELECT	@status =1 ,@msg='Demand added Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end




GO
/****** Object:  StoredProcedure [dbo].[usp_AddInFlow]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------
CREATE proc  [dbo].[usp_AddInFlow]
     @Date				date
	,@UnitID     		int
	,@Milkqty			int
	,@lysdqty			decimal(18,2)
	,@Milkfat			decimal(18,2)
	,@MilkSNF			decimal(18,2)
	,@Milkfatperc		decimal(18,2)
	,@MilkSNFperc		decimal(18,2)
	,@LYSDDate		 date null
	,@LYSDFatPercent decimal(18,2) null
	,@LYSDSNFPercent decimal(18,2) null
	,@LYSDFatKG		decimal(18,2) null
	,@LYSDSNFKG		decimal(18,2) null
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO [dbo].[Trn_InflowDetails]
				([Date]
				,[UnitID]
				,[Milkqty]
				,[lysdqty]
				,[Milkfat]
				,[MilkSNF]
				,[Milkfatperc]
				,[MilkSNFperc]	
				,[IsVerifed]
				,[IsApproved]
				,LYSDDate
				,LYSDFatPercent
				,LYSDSNFPercent
				,LYSDFatKG		
				,LYSDSNFKG
				)
			VALUES
				( @Date		
				,@UnitID
				,@Milkqty
				,@lysdqty
				,@Milkfat		
				,@MilkSNF		
				,@Milkfatperc	
				,@MilkSNFperc	
				,0
				,0
				,@LYSDDate		
				,@LYSDFatPercent
				,@LYSDSNFPercent
				,@LYSDFatKG		
				,@LYSDSNFKG
				)
	
			SELECT	@status =1 ,@msg='In Flow Details Added Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddManufItem]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddManufItem]
    @Date DATE,
    @ManufItems [DemandedItemsList] READONLY
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL, @MnfId INT = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			insert into tbl_PlantManufacturing(Date)
			values(@Date)

			select @MnfId= SCOPE_IDENTITY()

			INSERT INTO PlantManufacturingData ([MnfID],[Date],ItemID, ItemName, Quantity)
			SELECT @MnfId, @Date,ItemID, ItemName, Quantity  FROM @ManufItems;

			SELECT @status = 1, @msg = 'Items added Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSales]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------
CREATE proc  [dbo].[usp_AddSales]
		@Date date
		,@NameOfUnit		VARCHAR(100)
		,@LYSDQty		int
		,@ItemCategory varchar(50)
		,@Items [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  ,@SalesID int=null
	  BEGIN TRY
		  BEGIN transaction
			INSERT INTO [dbo].trn_Sale
					   ([Date]					
					   ,[NameOfUnit]
					   ,LYSDQty
					   ,[ItemCategory]
					  )
				 VALUES
					   (@date
					   ,@NameOfUnit
					   ,@LYSDQty
					   ,@ItemCategory)
			select @SalesID =SCOPE_IDENTITY();
			INSERT INTO [dbo].trn_SaleChild
					   ([SalesID]
					   ,  ItemID,
					   [ItemName]
					   ,[Quantity]
					   )
				 select @SalesID,ItemID, ItemName,Quantity from @Items
			SELECT	@status =1 ,@msg='Sales Details  Added Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddTarget]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AddTarget]
    @Targetmonth DATE,
    @ItemCategory VARCHAR(50),
    @TargetItems [typ_SoldItems] READONLY,
     @TotalTarget			DECIMAL(18, 2) = 0,          -- New parameter for total TargetData
     @TotalCumulative		DECIMAL(18, 2) = 0,      -- New parameter for total Cumulative
     @TotalAbsolute			DECIMAL(18, 2) = 0,        -- New parameter for total TargetAbsolute
     @TotalAvgGrowth		 DECIMAL(18, 2) = 0        -- New parameter for total AvgGrowthPerc
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL, @TargetId INT = NULL;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert into TrnTarget
        INSERT INTO TrnTarget (Targetmonth, ItemCategory)
        VALUES (@Targetmonth, @ItemCategory);

        SELECT @TargetId = SCOPE_IDENTITY();

        -- Insert into trnTargetChild
        INSERT INTO trnTargetChild (TargetId, ItemID, ItemName, TargetData, Cumulative, TargetAbsolute, AvggrowthPerc)
        SELECT @TargetId, ItemID, ItemName, TargetData, [SaleCumulative], [SaleAbsolute], [AvgGrowthPer]
        FROM @TargetItems;


		SET IDENTITY_INSERT [dbo].TrnTargetTotals ON 
       
        INSERT INTO TrnTargetTotals (TargetId, TotalTarget, TotalCumulative, TotalAbsolute, TotalAvgGrowth)
        VALUES (@TargetId, @TotalTarget, @TotalCumulative, @TotalAbsolute, @TotalAvgGrowth);
		SET IDENTITY_INSERT [dbo].TrnTargetTotals OFF
      

        SELECT @status = 1, @msg = 'Demand added Successfully';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH   
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();	
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END

GO
/****** Object:  StoredProcedure [dbo].[Usp_AproveInflow]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_AproveInflow]
    
				 @InflowId 				 int
				,@Milkqty				 int
				,@Milkfat				 decimal(18,2)
				,@MilkSNF				 decimal(18,2)
				,@Milkfatperc			 decimal(18,2)
				,@MilkSNFperc			 decimal(18,2)
				,@lysdqty			decimal(18,2)
				,@LYSDFatPercent decimal(18,2) null
				,@LYSDSNFPercent decimal(18,2) null
				,@LYSDFatKG		decimal(18,2) null
				,@LYSDSNFKG		decimal(18,2) null
				
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION  
			update Trn_InflowDetails
			set 
			 [Milkqty]		   =@Milkqty		
			,[Milkfat]		   =@Milkfat		
			,[MilkSNF]		   =@MilkSNF		
			,[Milkfatperc]	   =@Milkfatperc	
			,[MilkSNFperc]	   =@MilkSNFperc	
			,lysdqty				   =@lysdqty
			,LYSDFatPercent			   =@LYSDFatPercent	
			,LYSDSNFPercent			   =@LYSDSNFPercent	
			,LYSDFatKG				   =@LYSDFatKG		
			,LYSDSNFKG				   =@LYSDSNFKG		
			,IsApproved     =    1
			where 
			InflowId=@InflowId
		sELECT	@status =1 ,@msg='In Flow Is Approved  and Updated'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteDemand]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE  proc  [dbo].[usp_DeleteDemand]
     @DemandId int		
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null 
	  BEGIN TRY
		  BEGIN transaction 
      
	delete from  [dbo].[trn_Demand]
	where DemandId    =    @DemandId 

	delete from [trn_DemandsChild] 
	where DemandId    =    @DemandId
			SELECT	@status =1 ,@msg='Demand Deleted Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteInFlow]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------
create proc  [dbo].[usp_DeleteInFlow]
	 @InflowId			int
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		Delete from   [dbo].[Trn_InflowDetails]
		
		where InflowId =@InflowId


			SELECT	@status =1 ,@msg='InFlow Details Deleted Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteManufItem]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_DeleteManufItem]
	@MnfId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			DELETE FROM tbl_PlantManufacturing
			WHERE MnfID=@MnfId

			DELETE FROM PlantManufacturingData 	WHERE MnfID=@MnfId


			SELECT @status = 1, @msg = 'Manufacturing Details Deleted Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSales]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc  [dbo].[usp_DeleteSales]	
		@SalesID			int
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  
	  BEGIN TRY
		  BEGIN transaction
			delete from trn_Sale 
			Where SalesID=@SalesID

			delete from trn_SaleChild  
			Where SalesID=@SalesID 

		
			SELECT	@status =1 ,@msg='Sales Details  Deleted Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDemand]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------
create proc  [dbo].[Usp_GetDemand]	
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		select [DemandId], [Date], [ItemCategory], [Shift], [Retailer], UnitID,UnitName [VehicleName], [DemandType]   from trn_Demand		
			join mst_Unit u on VehicleName=UnitID 
	
		SELECT	@status =1 ,@msg='Demand Details Added Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg]
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDemandItems]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetDemandItems]
   
  @DemandId int		
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION 
		
		select ItemID ,ItemName, Quantity,AdvancedCard from trn_DemandsChild where DemandId=@DemandId
		
	
			SELECT	@status =1 ,@msg='Demanded Items  Get Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetInfloeDetails]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_GetInfloeDetails]
@FromDate date=null,
@ToDate date= null
AS
BEGIN
declare @status bit=0 ,@msg varchar(100)=null 
	BEGIN TRY
		BEGIN transaction 

	
		if (@FromDate='')
		BEGIN
			select @FromDate=null;
		END
		if (@ToDate='')
		BEGIN
			select @ToDate=null;
		END
		SELECT 
			 [InflowId]
			, [UnitID]
			, mu.[Unit name] UnitName
			, [Date]
			, [Milkqty]
			, [Milkfat]
			, [MilkSNF]
			, [Milkfatperc]
			, [MilkSNFperc]
			, [IsVerifed]
			, [IsApproved]
			,ISNULL(LYSDDate,DATEADD(year,-1, [Date]) ) LYSDDate
			, [lysdqty]
			, [LYSDFatPercent]
			, [LYSDSNFPercent]
			, [LYSDFatKG]
			, [LYSDSNFKG]
		FROM Trn_InflowDetails tf
			INNER JOIN [mst_InflowUnits] mu ON tf.UnitID = mu.id
			where (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	
			order by IsVerifed

		SELECT	@status =1 ,@msg='inflow selected  Successfully'	 
	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()
	END CATCH;
SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetInflowToAprove]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetInflowToAprove]
     @IsApproved bit =null,
	 @FromDate date=null,
     @ToDate date= null
as
  begin 
	declare	 @status bit=0 ,
	 @msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION 
		
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
		
		select InflowId
				,[Trn_InflowDetails].UnitID
				,unit.[Unit name] UnitName
				,Date
				,Milkqty
				,Milkfat
				,MilkSNF
				,Milkfatperc
				,MilkSNFperc				
				,lysdqty
				,LYSDFatPercent	
				,LYSDSNFPercent	
				,LYSDFatKG		
				,LYSDSNFKG		
				,IsApproved from [Trn_InflowDetails]
				inner join [mst_InflowUnits] unit on unit.Id= [Trn_InflowDetails].UnitID
				where  IsVerifed =1 and( IsApproved= @IsApproved or @IsApproved is NULL) and (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	

			SELECT	@status =1 ,@msg='In Flow Details Selected  Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetinflowUnit]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc  [dbo].[Usp_GetinflowUnit]
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY

		select id [Id] ,[Unit name] [Name] from [mst_InflowUnits]
	
	    SELECT	@status =1 ,@msg='Unit Name selectted Successfully'	 
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetItemDetails]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetItemDetails]
	
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION  
			select 
			SalesID ,
			unit.UnitName  ,
			unit.UnitID,
			ItemCategory,
			Date ,
			isnull(LYSDQty,0) LYSDQty,
			isnull((select SUM(child.Quantity) from trn_SaleChild child where Sale.SalesID=child.SalesID),0) [Total]
			from trn_Sale Sale
			join mst_Unit unit on unit.UnitID=Sale.NameOfUnit
	
			SELECT	@status =1 ,@msg='OutFlow Flow Details Saved Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPlantManf]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[Usp_GetPlantManf]	
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		select MnfID ,Date , isnull((select SUM(Quantity) from PlantManufacturingData where pm.Date=date),0) [Total]
		from tbl_PlantManufacturing pm
	
		SELECT	@status =1 ,@msg='Plant Manufacturing Details Selected Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPlantManfItems]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Usp_GetPlantManfItems]
	@MnfId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			select   ManufItemId,ItemID,ItemName,Quantity from  PlantManufacturingData 	WHERE MnfID=@MnfId

			SELECT @status = 1, @msg = 'Items added Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetsalesItems]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc  [dbo].[Usp_GetsalesItems]
	@SalesID int 
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION  
	
		select ItemID,ItemName,Quantity from trn_SaleChild child where @SalesID=child.SalesID
		
	
			SELECT	@status =1 ,@msg='Sales Items Selected Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUnit]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc  [dbo].[Usp_GetUnit]
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
		select UnitID [Id] ,UnitName [Name] from [mst_Unit]
	
	    SELECT	@status =1 ,@msg='Unit Name selectted Successfully'	 
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDemand]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create  proc  [dbo].[usp_UpdateDemand]
     @DemandId int		
	,@Date date
	,@ItemCategory varchar(50)
	,@Shift varchar(10)
	,@Retailer varchar(50)
	,@VehicleName varchar(20)
	,@DemandType varchar(20)
	,@DemandItems [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null 
	  BEGIN TRY
		  BEGIN transaction 
      

	  update  [dbo].[trn_Demand]

	  set 
      [Date]		   =	@date
	 ,[ItemCategory]   =	@ItemCategory
	 ,[Shift]		   =	@Shift
	 ,[Retailer]	   =	@Retailer
	 ,[VehicleName]	   =	@VehicleName
	 ,[DemandType]	   =	@DemandType  
	 where DemandId    =    @DemandId


	 delete from [trn_DemandsChild] 
	 where DemandId    =    @DemandId

	INSERT INTO [dbo].[trn_DemandsChild]
			([DemandId]
			,ItemID
			,[ItemName]
			,[Quantity]
			,[AdvancedCard])
     
		select @DemandId,ItemID, ItemName,Quantity,AdvancedCard from @DemandItems


			SELECT	@status =1 ,@msg='Demand Udated Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end




GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateInFlow]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------
create proc  [dbo].[usp_UpdateInFlow]
	 @InflowId			int
    ,@Date				date
	,@UnitID     		int
	,@Milkqty			int
	,@lysdqty			decimal(18,2)
	,@Milkfat			decimal(18,2)
	,@MilkSNF			decimal(18,2)
	,@Milkfatperc		decimal(18,2)
	,@MilkSNFperc		decimal(18,2)
	,@LYSDDate			date null
	,@LYSDFatPercent	decimal(18,2) null
	,@LYSDSNFPercent	decimal(18,2) null
	,@LYSDFatKG			decimal(18,2) null
	,@LYSDSNFKG			decimal(18,2) null

  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		update   [dbo].[Trn_InflowDetails]
		set
		  Date				= @Date				
		, UnitID     		= @UnitID     		
		, Milkqty			= @Milkqty			
		, lysdqty			= @lysdqty			
		, Milkfat			= @Milkfat			
		, MilkSNF			= @MilkSNF			
		, Milkfatperc		= @Milkfatperc		
		, MilkSNFperc		= @MilkSNFperc	
		
		, LYSDDate			= @LYSDDate			
		, LYSDFatPercent	= @LYSDFatPercent	
		, LYSDSNFPercent	= @LYSDSNFPercent	
		, LYSDFatKG			= @LYSDFatKG			
		, LYSDSNFKG			= @LYSDSNFKG			
		where InflowId =@InflowId


			SELECT	@status =1 ,@msg='InFlow Details Updated Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateManufItem]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateManufItem]
	@MnfId INT ,
	@Date DATE,
	@ManufItems [DemandedItemsList] READONLY
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			UPDATE tbl_PlantManufacturing
			SET Date= @Date
			WHERE MnfID=@MnfId

			DELETE FROM PlantManufacturingData 	WHERE MnfID=@MnfId

			INSERT INTO PlantManufacturingData ([MnfID],[Date],ItemID, ItemName, Quantity)
			SELECT @MnfId, @Date,ItemID, ItemName, Quantity  FROM @ManufItems;

			SELECT @status = 1, @msg = 'Manufacturing Details Updated Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSales]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc  [dbo].[usp_UpdateSales]	
		@SalesID			int
		,@Date				date
		,@NameOfUnit		VARCHAR(100)
		,@LYSDQty			int
		,@ItemCategory		varchar(50)
		,@Items				[DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  
	  BEGIN TRY
		  BEGIN transaction
		  update trn_Sale 
		  set [Date]			=	   @Date			
			  ,[NameOfUnit]		=	   @NameOfUnit	
			  ,LYSDQty			=	   @LYSDQty		
			  ,[ItemCategory]	=	   @ItemCategory	
			  Where SalesID=@SalesID

			delete from trn_SaleChild
			where SalesID=@SalesID
			
			INSERT INTO [dbo].trn_SaleChild
					   ([SalesID]
					   ,  ItemID,
					   [ItemName]
					   ,[Quantity]
					   )
				 select @SalesID,ItemID, ItemName,Quantity from @Items
			SELECT	@status =1 ,@msg='Sales Details  Updated Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[uspTransReport]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[uspTransReport]
@FromDate date null,
@ToDate date null
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null
	BEGIN TRY
		BEGIN TRANSACTION
		select SC.ItemName, isnull(sum(sc.Demand),0) Demand,isnull(sum( sc.Sales),0) Sales, isnull(sum(m.Quantity) ,0)as Manufacturing  from
					(
					select DC.ItemName , dc.Demand ,DC.ItemID, sum(sc.Quantity) as Sales
					from
						(
							SELECT
								item.ItemName,item.ItemID,
								SUM(dc.Quantity) AS Demand
							FROM
								trn_DemandsChild dc
							full join mst_Item item on (item.ItemID=dc.ItemID)
							join trn_Demand d on d.DemandId=dc.DemandId
							where d.Date>@FromDate and d.Date<@ToDate
							GROUP BY item.ItemName,item.ItemID					
						) as DC
					full join trn_SaleChild sc on dc.ItemID = sc.ItemID
					join trn_Sale s on s.SalesID= sc.SalesID
					where s.Date>@FromDate and s.Date<@ToDate
					group by DC.ItemName , dc.Demand ,DC.ItemID
					) as SC
				full join PlantManufacturingData m on m.ItemID = sc.ItemID
			  Where m.Date>@FromDate and m.Date<@ToDate
				group by SC.ItemName, sc.Demand, sc.Sales
				order by ( isnull(sum(sc.Sales),0)+ isnull(sum(sc.Demand),0)+ isnull(sum(m.Quantity),0))  desc
	
			SELECT	@status =1 ,@msg='In Flow Details Selected  Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[uspVerifierDetails]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspVerifierDetails]
@IsVerifed bit =null,
@FromDate date=null,
@ToDate date= null
AS
BEGIN

	
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
		

    SELECT 
        tf.InflowId,
        mu.[Unit name] UnitName,
        tf.Date,
        tf.Milkqty,
        tf.Milkfat,
        tf.MilkSNF,
        tf.Milkfatperc,
        tf.MilkSNFperc
			,tf.lysdqty
			,tf.LYSDFatPercent		
			,tf.LYSDSNFPercent		
			,tf.LYSDFatKG			
			,tf.LYSDSNFKG			
		,IsVerifed

    FROM Trn_InflowDetails tf
    INNER JOIN [mst_InflowUnits] mu
    ON tf.UnitID = mu.id
		where IsApproved =0 and( IsVerifed= @IsVerifed or @IsVerifed is NULL) and (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	
	order by IsVerifed
END
GO
/****** Object:  StoredProcedure [dbo].[uspVerifierUpdate]    Script Date: 15-Nov-24 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspVerifierUpdate]
    @InflowId int, 
    @Milkqty int, 
    @Milkfat decimal(18, 2),
    @MilkSNF decimal(18, 2),
    @Milkfatperc decimal(18, 2), 
    @MilkSNFperc decimal(18, 2)
	,@lysdqty			decimal(18,2)
	,@LYSDFatPercent decimal(18,2) null
	,@LYSDSNFPercent decimal(18,2) null
	,@LYSDFatKG		decimal(18,2) null
	,@LYSDSNFKG		decimal(18,2) null
AS
BEGIN
    DECLARE @Status bit, @msg varchar(100) = ''

    IF EXISTS (SELECT 1 FROM Trn_InflowDetails WHERE InflowId = @InflowId)
    BEGIN
        UPDATE Trn_InflowDetails
        SET 
             Milkqty				 =@Milkqty
            ,Milkfat				 =@Milkfat
            ,MilkSNF				 =@MilkSNF
            ,Milkfatperc			 =@Milkfatperc
            ,MilkSNFperc			 =@MilkSNFperc
          
			,lysdqty				 =@lysdqty			
			,LYSDFatPercent			 =@LYSDFatPercent
			,LYSDSNFPercent			 =@LYSDSNFPercent
			,LYSDFatKG				 =@LYSDFatKG		
			,LYSDSNFKG				 =@LYSDSNFKG
			,IsVerifed				 = 1
        WHERE InflowId				 = @InflowId

        SET @Status = 1
        SET @msg = 'Item Verified successfully'
    END
    ELSE
    BEGIN
        SET @Status = 0
        SET @msg = 'Not Verified'
    END

    SELECT @Status AS sts, @msg AS msg
END
GO
USE [master]
GO
