USE [master]
GO
/****** Object:  Database [DbSanchi]    Script Date: 25-Nov-24 7:32:41 PM ******/
CREATE DATABASE [DbSanchi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSanchi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSanchi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSanchi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSanchi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSanchi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSanchi]
GO
/****** Object:  UserDefinedTableType [dbo].[DemandedItemsList]    Script Date: 25-Nov-24 7:32:42 PM ******/
CREATE TYPE [dbo].[DemandedItemsList] AS TABLE(
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[AdvancedCard] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[typ_SoldItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
CREATE TYPE [dbo].[typ_SoldItems] AS TABLE(
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[TargetData] [decimal](18, 2) NULL,
	[SaleCumulative] [decimal](18, 2) NULL,
	[SaleAbsolute] [decimal](18, 2) NULL,
	[AvgGrowthPer] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[trn_Sale]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_Sale](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[NameOfUnit] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[ItemCategory] [varchar](50) NOT NULL,
	[LYSDQty] [int] NULL,
	[DeletedByIp] [varchar](45) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_SaleChild]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_SaleChild](
	[SaleChildid] [int] IDENTITY(1,1) NOT NULL,
	[SalesID] [int] NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleChildid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetsaleAndMnf]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION  [dbo].[GetsaleAndMnf](@ItemId INT, @date DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        SUM(sc.Quantity) AS Sale
      
    FROM 
        trn_SaleChild sc
    INNER JOIN 
        trn_Sale s ON s.SalesID = sc.SalesID 
    WHERE 
        sc.ItemID = @ItemId AND s.Date = @date
  
);
GO
/****** Object:  Table [dbo].[mst_InflowUnits]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_InflowUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Unit name] [varchar](50) NULL,
 CONSTRAINT [PK_mst_InflowUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Item]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NULL,
	[ItemCategory] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsInflowable] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByIP] [varchar](45) NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedByIP] [varchar](45) NULL,
	[ItemCode] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Unit]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantManufacturingData]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantManufacturingData](
	[ManufItemId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[ItemID] [int] NULL,
	[MnfID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PlantManufacturing]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PlantManufacturing](
	[MnfID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_Demand]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_Demand](
	[DemandId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[ItemCategory] [varchar](50) NULL,
	[Shift] [varchar](10) NULL,
	[Retailer] [varchar](50) NULL,
	[VehicleName] [int] NULL,
	[DemandType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DemandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trn_DemandsChild]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trn_DemandsChild](
	[DemandsChildID] [int] IDENTITY(1,1) NOT NULL,
	[DemandId] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[AdvancedCard] [int] NULL,
	[ItemID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DemandsChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trn_InflowDetails]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trn_InflowDetails](
	[InflowId] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NULL,
	[Date] [date] NULL,
	[Milkqty] [int] NULL,
	[Milkfat] [decimal](18, 2) NULL,
	[MilkSNF] [decimal](18, 2) NULL,
	[Milkfatperc] [decimal](18, 2) NULL,
	[MilkSNFperc] [decimal](18, 2) NULL,
	[Butterqty] [int] NULL,
	[Butterstock] [int] NULL,
	[MilkPowderqty] [int] NULL,
	[MilkPowderstock] [int] NULL,
	[IsVerifed] [bit] NULL,
	[IsApproved] [bit] NULL,
	[WholeMilkPowderqty] [int] NULL,
	[WholeMilkPowderstock] [int] NULL,
	[Gheeqty] [int] NULL,
	[Gheestock] [int] NULL,
	[lysdqty] [decimal](18, 2) NULL,
	[LYSDDate] [date] NULL,
	[LYSDFatPercent] [decimal](18, 2) NULL,
	[LYSDSNFPercent] [decimal](18, 2) NULL,
	[LYSDFatKG] [decimal](18, 2) NULL,
	[LYSDSNFKG] [decimal](18, 2) NULL,
	[WBOBal] [decimal](18, 2) NULL,
	[WBManuf] [decimal](18, 2) NULL,
	[SMPBal] [decimal](18, 2) NULL,
	[SMPManuf] [decimal](18, 2) NULL,
	[WMPBal] [decimal](18, 2) NULL,
	[WMPManuf] [decimal](18, 2) NULL,
	[GheeBal] [decimal](18, 2) NULL,
	[GheeManuf] [decimal](18, 2) NULL,
	[GheeVerient] [varchar](5) NULL,
	[TargetDate] [date] NULL,
	[TargetMilk] [decimal](18, 2) NULL,
	[MilkCumulative] [decimal](18, 2) NULL,
	[WBVerient] [varchar](5) NULL,
	[SMPVerient] [varchar](5) NULL,
	[WMPVerient] [varchar](5) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIP] [varchar](45) NULL,
	[UpdatedByIP] [varchar](45) NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[DeletedByIp] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[InflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnStock]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnStock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemCode] [varchar](5) NULL,
	[StockQty] [decimal](18, 2) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByIP] [varchar](45) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIP] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnStockChild]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnStockChild](
	[StockChildID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemCode] [varchar](5) NULL,
	[StockQty] [decimal](18, 2) NOT NULL,
	[CreatedDuring] [varchar](10) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIP] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnTarget]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnTarget](
	[TargetId] [int] IDENTITY(1,1) NOT NULL,
	[Targetmonth] [date] NULL,
	[ItemCategory] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnTargetChild]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnTargetChild](
	[TargetChildID] [int] IDENTITY(1,1) NOT NULL,
	[TargetId] [int] NULL,
	[ItemID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[TargetData] [decimal](18, 2) NULL,
	[Cumulative] [decimal](18, 2) NULL,
	[TargetAbsolute] [decimal](18, 2) NULL,
	[AvggrowthPerc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnTargetTotals]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnTargetTotals](
	[TargetId] [int] IDENTITY(1,1) NOT NULL,
	[TotalTarget] [decimal](18, 2) NULL,
	[TotalCumulative] [decimal](18, 2) NULL,
	[TotalAbsolute] [decimal](18, 2) NULL,
	[TotalAvgGrowth] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trntemp_Sale]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trntemp_Sale](
	[SalesID] [int] NULL,
	[NameOfUnit] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[ItemCategory] [varchar](50) NOT NULL,
	[LYSDQty] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trntemp_SaleChild]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trntemp_SaleChild](
	[SalesID] [int] NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemID] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mst_InflowUnits] ON 

INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (1, N'Ware House')
INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (2, N'Gwalior')
INSERT [dbo].[mst_InflowUnits] ([Id], [Unit name]) VALUES (3, N'Powan Shri Food')
SET IDENTITY_INSERT [dbo].[mst_InflowUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Item] ON 

INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [IsActive], [IsInflowable], [CreatedOn], [CreatedByIP], [UpdatedOn], [UpdatedByIP], [ItemCode]) VALUES (1, N'STD', N'Milk', 1, 1, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, N'AB101')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [IsActive], [IsInflowable], [CreatedOn], [CreatedByIP], [UpdatedOn], [UpdatedByIP], [ItemCode]) VALUES (2, N'DTM', N'Milk', 1, 0, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, N'AB102')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [IsActive], [IsInflowable], [CreatedOn], [CreatedByIP], [UpdatedOn], [UpdatedByIP], [ItemCode]) VALUES (3, N'LITE', N'Milk', 1, 0, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, CAST(N'2024-11-25T12:48:48.177' AS DateTime), NULL, N'AB103')
SET IDENTITY_INSERT [dbo].[mst_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Unit] ON 

INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (2, N'BHOPAL Route')
INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (3, N'TIMARNI Route')
INSERT [dbo].[mst_Unit] ([UnitID], [UnitName]) VALUES (4, N'HOSHANGABAD Route')
SET IDENTITY_INSERT [dbo].[mst_Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[PlantManufacturingData] ON 

INSERT [dbo].[PlantManufacturingData] ([ManufItemId], [Date], [ItemName], [Quantity], [ItemID], [MnfID]) VALUES (1, CAST(N'2024-11-20' AS Date), N'SMP', 0, 10, 1)
INSERT [dbo].[PlantManufacturingData] ([ManufItemId], [Date], [ItemName], [Quantity], [ItemID], [MnfID]) VALUES (2, CAST(N'2024-11-20' AS Date), N'Sweeten SMP', 0, 11, 1)
INSERT [dbo].[PlantManufacturingData] ([ManufItemId], [Date], [ItemName], [Quantity], [ItemID], [MnfID]) VALUES (3, CAST(N'2024-11-20' AS Date), N'WB', 0, 12, 1)
GO
SET IDENTITY_INSERT [dbo].[PlantManufacturingData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_PlantManufacturing] ON 

INSERT [dbo].[tbl_PlantManufacturing] ([MnfID], [Date]) VALUES (1, CAST(N'2024-11-20' AS Date))
INSERT [dbo].[tbl_PlantManufacturing] ([MnfID], [Date]) VALUES (2, CAST(N'2024-11-21' AS Date))
INSERT [dbo].[tbl_PlantManufacturing] ([MnfID], [Date]) VALUES (3, CAST(N'2024-11-22' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_PlantManufacturing] OFF
GO
SET IDENTITY_INSERT [dbo].[trn_Demand] ON 

INSERT [dbo].[trn_Demand] ([DemandId], [Date], [ItemCategory], [Shift], [Retailer], [VehicleName], [DemandType]) VALUES (1, CAST(N'2024-11-20' AS Date), N'Product', N'Morning', N'Depot No. 94[D75]', 2, N'Regular')
INSERT [dbo].[trn_Demand] ([DemandId], [Date], [ItemCategory], [Shift], [Retailer], [VehicleName], [DemandType]) VALUES (3, CAST(N'2024-11-21' AS Date), N'Milk', N'Morning', N'Depot No. 81[D05]', 2, N'Regular')
INSERT [dbo].[trn_Demand] ([DemandId], [Date], [ItemCategory], [Shift], [Retailer], [VehicleName], [DemandType]) VALUES (5, CAST(N'2024-12-04' AS Date), N'Product', N'Morning', N'Depot No. 81[D05]', 4, N'Regular')
SET IDENTITY_INSERT [dbo].[trn_Demand] OFF
GO
SET IDENTITY_INSERT [dbo].[trn_DemandsChild] ON 

INSERT [dbo].[trn_DemandsChild] ([DemandsChildID], [DemandId], [ItemName], [Quantity], [AdvancedCard], [ItemID]) VALUES (1, 1, N'SMP', 0, 0, 10)
INSERT [dbo].[trn_DemandsChild] ([DemandsChildID], [DemandId], [ItemName], [Quantity], [AdvancedCard], [ItemID]) VALUES (2, 1, N'Sweeten SMP', 0, 0, 11)
INSERT [dbo].[trn_DemandsChild] ([DemandsChildID], [DemandId], [ItemName], [Quantity], [AdvancedCard], [ItemID]) VALUES (3, 1, N'WB', 0, 0, 12)
SET IDENTITY_INSERT [dbo].[trn_DemandsChild] OFF
GO
SET IDENTITY_INSERT [dbo].[Trn_InflowDetails] ON 

SET IDENTITY_INSERT [dbo].[Trn_InflowDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[trn_Sale] ON 

INSERT [dbo].[trn_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty], [DeletedByIp], [IsDelete]) VALUES (3, N'2', CAST(N'2023-10-03' AS Date), N'Product', 0, N'::1', 0)
INSERT [dbo].[trn_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty], [DeletedByIp], [IsDelete]) VALUES (4, N'2', CAST(N'2023-10-04' AS Date), N'Product', 0, N'::1', 0)
INSERT [dbo].[trn_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty], [DeletedByIp], [IsDelete]) VALUES (6, N'3', CAST(N'2024-11-07' AS Date), N'Product', 0, N'::1', 0)
SET IDENTITY_INSERT [dbo].[trn_Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[trn_SaleChild] ON 

INSERT [dbo].[trn_SaleChild] ([SaleChildid], [SalesID], [ItemName], [Quantity], [ItemID]) VALUES (77, 3, N'SMP', 100, 10)
INSERT [dbo].[trn_SaleChild] ([SaleChildid], [SalesID], [ItemName], [Quantity], [ItemID]) VALUES (78, 3, N'Sweeten SMP', 0, 11)
INSERT [dbo].[trn_SaleChild] ([SaleChildid], [SalesID], [ItemName], [Quantity], [ItemID]) VALUES (79, 3, N'WB', 200, 12)
GO
SET IDENTITY_INSERT [dbo].[trn_SaleChild] OFF
GO
SET IDENTITY_INSERT [dbo].[trnStock] ON 

INSERT [dbo].[trnStock] ([StockID], [ItemID], [ItemCode], [StockQty], [UpdatedOn], [UpdatedByIP], [CreatedOn], [CreatedByIP]) VALUES (1, 10, N'10', CAST(2400.00 AS Decimal(18, 2)), CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL, CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL)
INSERT [dbo].[trnStock] ([StockID], [ItemID], [ItemCode], [StockQty], [UpdatedOn], [UpdatedByIP], [CreatedOn], [CreatedByIP]) VALUES (2, 11, N'11', CAST(0.00 AS Decimal(18, 2)), CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL, CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL)
INSERT [dbo].[trnStock] ([StockID], [ItemID], [ItemCode], [StockQty], [UpdatedOn], [UpdatedByIP], [CreatedOn], [CreatedByIP]) VALUES (3, 12, N'12', CAST(2750.00 AS Decimal(18, 2)), CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL, CAST(N'2024-11-23T12:47:10.470' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[trnStock] OFF
GO
SET IDENTITY_INSERT [dbo].[TrnTarget] ON 

INSERT [dbo].[TrnTarget] ([TargetId], [Targetmonth], [ItemCategory]) VALUES (2, CAST(N'2024-11-08' AS Date), N'Milk')
INSERT [dbo].[TrnTarget] ([TargetId], [Targetmonth], [ItemCategory]) VALUES (3, CAST(N'2024-11-08' AS Date), N'Product')
INSERT [dbo].[TrnTarget] ([TargetId], [Targetmonth], [ItemCategory]) VALUES (4, CAST(N'2024-11-07' AS Date), N'Product')
SET IDENTITY_INSERT [dbo].[TrnTarget] OFF
GO
SET IDENTITY_INSERT [dbo].[trnTargetChild] ON 

INSERT [dbo].[trnTargetChild] ([TargetChildID], [TargetId], [ItemID], [ItemName], [TargetData], [Cumulative], [TargetAbsolute], [AvggrowthPerc]) VALUES (10, 2, 1, N'STD', CAST(700.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[trnTargetChild] ([TargetChildID], [TargetId], [ItemID], [ItemName], [TargetData], [Cumulative], [TargetAbsolute], [AvggrowthPerc]) VALUES (11, 2, 2, N'DTM', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[trnTargetChild] ([TargetChildID], [TargetId], [ItemID], [ItemName], [TargetData], [Cumulative], [TargetAbsolute], [AvggrowthPerc]) VALUES (12, 2, 3, N'LITE', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[trnTargetChild] OFF
GO
SET IDENTITY_INSERT [dbo].[TrnTargetTotals] ON 

INSERT [dbo].[TrnTargetTotals] ([TargetId], [TotalTarget], [TotalCumulative], [TotalAbsolute], [TotalAvgGrowth]) VALUES (1, CAST(9.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(18, 2)), CAST(81.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TrnTargetTotals] ([TargetId], [TotalTarget], [TotalCumulative], [TotalAbsolute], [TotalAvgGrowth]) VALUES (2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TrnTargetTotals] ([TargetId], [TotalTarget], [TotalCumulative], [TotalAbsolute], [TotalAvgGrowth]) VALUES (3, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TrnTargetTotals] OFF
GO
INSERT [dbo].[trntemp_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty]) VALUES (203, N'4', CAST(N'2024-10-07' AS Date), N'Milk', 4546)
INSERT [dbo].[trntemp_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty]) VALUES (204, N'5', CAST(N'2024-10-07' AS Date), N'Milk', 4684)
INSERT [dbo].[trntemp_Sale] ([SalesID], [NameOfUnit], [Date], [ItemCategory], [LYSDQty]) VALUES (205, N'6', CAST(N'2024-10-07' AS Date), N'Milk', 3089)
GO
INSERT [dbo].[trntemp_SaleChild] ([SalesID], [ItemName], [Quantity], [ItemID]) VALUES (203, N'STD', 90, 1)
INSERT [dbo].[trntemp_SaleChild] ([SalesID], [ItemName], [Quantity], [ItemID]) VALUES (203, N'DTM', 546, 2)
INSERT [dbo].[trntemp_SaleChild] ([SalesID], [ItemName], [Quantity], [ItemID]) VALUES (203, N'LITE', 0, 3)
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[Trn_InflowDetails] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Trn_InflowDetails] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[trnStock] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[trnStock] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[trnStockChild] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByCategory]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc  [dbo].[GetItemsByCategory]
  @ItemCategory varchar(50) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        SELECT [ItemName] ,[ItemID] FROM [mst_Item] 
        WHERE (@ItemCategory IS NULL OR [ItemCategory] = @ItemCategory);

		SELECT	@status =1 ,@msg='Item Name selectted Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[GetProductItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  Create proc  [dbo].[GetProductItems]
  @ItemCategory varchar(50) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY

  if @ItemCategory='Product'
  begin
        SELECT [ItemName] ,[ItemID] FROM [mst_Item] 
        WHERE (@ItemCategory IS NULL OR [ItemCategory] = @ItemCategory);
	END else if @ItemCategory='Milk'
	begin
		SELECT @ItemCategory [ItemName] ,0 [ItemID] 
	END


		SELECT	@status =1 ,@msg='Item Name selectted Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[Set_Stock]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Set_Stock]
(
    @ItemCode VARCHAR(5),
    @qty DECIMAL(18, 2),
    @ByIP VARCHAR(45),
    @operationType VARCHAR(5)
)
AS
BEGIN
    DECLARE @status INT;
    DECLARE @msg VARCHAR(100);
    DECLARE @currentStock DECIMAL(18, 2);

    -- Input validation
    IF @qty < 0
    BEGIN
        SET @status = 0;
        SET @msg = 'Quantity cannot be negative.';
        SELECT @status AS Status, @msg AS Message;
        RETURN;
    END

    --Check operation type
    IF @operationType IN ('Mnf', 'inflow')
    BEGIN
        IF EXISTS (SELECT 1 FROM trnStock WHERE ItemCode = @ItemCode)
        BEGIN
            --Update existing stock
            UPDATE trnStock
            SET StockQty = StockQty + @qty,
                UpdatedOn = GETDATE(),
                UpdatedByIP = @ByIP
            WHERE ItemCode = @ItemCode

            SET @status = 1; -- Success
            SET @msg = 'Item Qty Added successfully';
        END
        ELSE
        BEGIN
            --Insert new stock record
            INSERT INTO trnStock (ItemCode, StockQty, CreatedOn, CreatedByIP)
            VALUES (@ItemCode, @qty, GETDATE(), @ByIP);

            SET @status = 1; --Success
            SET @msg = 'Item Qty Added successfully';
        END
    END
    ELSE IF @operationType = 'sale'
    BEGIN
        IF EXISTS (SELECT 1 FROM trnStock WHERE ItemCode = @ItemCode)
        BEGIN
            SELECT @currentStock = StockQty FROM trnStock WHERE ItemCode = @ItemCode;

            IF @currentStock >= @qty
            BEGIN
                --Update stock for sale
                UPDATE trnStock
                SET StockQty = StockQty - @qty,
                    UpdatedOn = GETDATE(),
                    UpdatedByIP = @ByIP
                WHERE ItemCode = @ItemCode

                SET @status = 1; -- Success
                SET @msg = 'Item Sold successfully';
            END
            ELSE
            BEGIN
                SET @status = 0; -- Failure
                SET @msg = 'Item Qty Not enough'; -- Not enough stock
            END
        END
        ELSE
        BEGIN
            SET @status = 0; -- Failure
            SET @msg = 'Item not found in stock';
        END
    END
    ELSE
    BEGIN
        SET @status = 0; -- Failure
        SET @msg = 'Invalid operation type';
    END

    -- Return the status and message
    SELECT @status AS Status, @msg AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_AddDemand]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE  proc  [dbo].[usp_AddDemand]
	@Date date
	,@ItemCategory varchar(50)
	,@Shift varchar(10)
	,@Retailer varchar(50)
	,@VehicleName varchar(20)
	,@DemandType varchar(20)
	,@DemandItems [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	  BEGIN TRY
		  BEGIN transaction 
      
			INSERT INTO [dbo].[trn_Demand]
					   ([Date]
					   ,[ItemCategory]
					   ,[Shift]
					   ,[Retailer]
					   ,[VehicleName]
					   ,[DemandType])
				 VALUES
					   (@date
					   ,@ItemCategory
					   ,@Shift
					   ,@Retailer
					   ,@VehicleName
					   ,@DemandType)
			select @DemandId =SCOPE_IDENTITY();

			INSERT INTO [dbo].[trn_DemandsChild]
					   ([DemandId]
					   ,ItemID
					   ,[ItemName]
					   ,[Quantity]
					   ,[AdvancedCard])
     
				 select @DemandId,ItemID, ItemName,Quantity,AdvancedCard from @DemandItems


			SELECT	@status =1 ,@msg='Demand added Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end




GO
/****** Object:  StoredProcedure [dbo].[usp_AddInFlow]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_AddInFlow]
     @Date					date
	,@UnitID     			int
	,@Milkqty				int
	,@lysdqty				decimal(18,2)
	,@Milkfat				decimal(18,2)
	,@MilkSNF				decimal(18,2)
	,@Milkfatperc			decimal(18,2)
	,@MilkSNFperc			decimal(18,2)


	,@WBOBal				decimal(18, 2)
	,@WBManuf				decimal(18, 2)
	,@Butterqty  			int
	--,@Butterstock  			int

	,@SMPBal				decimal(18, 2)
	,@SMPManuf				decimal(18, 2)
	,@MilkPowderqty  		int
	--,@MilkPowderstock  		int

	,@WMPBal				decimal(18, 2)
	,@WMPManuf				decimal(18, 2)
	,@WholeMilkPowderqty	int
	--,@WholeMilkPowderstock	int

	,@GheeBal				decimal(18, 2)
	,@GheeManuf				decimal(18, 2)
	,@Gheeqty				int
	--,@Gheestock				int

	,@LYSDDate				date null
	,@LYSDFatPercent		decimal(18,2) null
	,@LYSDSNFPercent		decimal(18,2) null
	,@LYSDFatKG				decimal(18,2) null
	,@LYSDSNFKG				decimal(18,2) null
	,@GheeVerient			varchar(5)
	,@WBVerient				varchar(5)  
	,@SMPVerient			varchar(5)  
	,@WMPVerient			varchar(5) 
	,@CreatedByIP			varchar(45)
	
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null,
	@avlButterstock int =0,
	@avlSMPstock int =0,
	@avlWMPstock int =0,
	@avlGheestock int =0,
	@TodayMnf decimal(18, 2) =0,
	@TodayReceived decimal(18, 2) =0
	BEGIN TRY
		BEGIN TRANSACTION
		if not exists(select 1 from [Trn_InflowDetails] where Date=@Date and UnitID=@UnitID)
		BEGIN
		-------------------------------
		select top 1 @avlButterstock =Butterstock
		from  Trn_InflowDetails where [Date]<@Date and 
		WBVerient=@WBVerient  order by Date desc, InflowId desc 
		
		select  top 1 @TodayMnf = ISNULL(sum([WBManuf]),0) +@WBManuf,@TodayReceived=ISNULL(sum(Butterqty),0)+@Butterqty
		from  Trn_InflowDetails where [Date]=@Date and 
		WBVerient=@WBVerient  
		group by [Date]
		order by [Date] desc
		---------------------------------------
		select  @avlButterstock=(@avlButterstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@WBVerient,@Date)
		---------------------------------------
		select  top 1 @avlSMPstock=MilkPowderstock 
		from  Trn_InflowDetails where [Date]<@Date and 
		SMPVerient=@SMPVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(SMPManuf),0) +@SMPManuf,@TodayReceived=ISNULL(sum(MilkPowderqty),0)+@MilkPowderqty
		from  Trn_InflowDetails where [Date]=@Date and 
		SMPVerient=@SMPVerient  
		group by [Date]
		order by [Date] desc
		---------------------------------------
		select  @avlSMPstock=(@avlSMPstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@SMPVerient,@Date)
		---------------------------------------
	   	select top 1 @avlWMPstock =WholeMilkPowderstock
		from  Trn_InflowDetails where [Date]<@Date and 
		WMPVerient=@WMPVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(WMPManuf),0) +@WMPManuf,@TodayReceived=ISNULL(sum(WholeMilkPowderqty),0)+@WholeMilkPowderqty
		from  Trn_InflowDetails where [Date]=@Date and 
		WMPVerient=@WMPVerient  
		group by [Date]
		order by [Date] desc
		---------------------------------------
		select  @avlWMPstock=(@avlWMPstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@WMPVerient,@Date)
		---------------------------------------
		select top 1 @avlGheestock =Gheestock
		from  Trn_InflowDetails where [Date]<@Date and 
		GheeVerient=@GheeVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(GheeManuf),0) +@GheeManuf,@TodayReceived=ISNULL(sum(Gheeqty),0)+@Gheeqty
		from  Trn_InflowDetails where [Date]=@Date and 
		GheeVerient=@GheeVerient  
		group by [Date]
		order by [Date] desc
		---------------------------------------
		select  @avlGheestock=(@avlGheestock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@GheeVerient,@Date)
		---------------------------------------
			INSERT INTO [dbo].[Trn_InflowDetails]
				(Date
				,UnitID
				,Milkqty
				,lysdqty
				,Milkfat
				,MilkSNF
				,Milkfatperc
				,MilkSNFperc

				,WBVerient
				,WBOBal
				,WBManuf
				,Butterqty
				,Butterstock

				,SMPVerient
				,SMPBal
				,SMPManuf
				,MilkPowderqty
				,MilkPowderstock

				,WMPVerient
				,WMPBal
				,WMPManuf
				,WholeMilkPowderqty
				,WholeMilkPowderstock	

				,GheeVerient
				,GheeBal
				,GheeManuf
				,Gheeqty				
				,Gheestock	
				
				,IsVerifed
				,IsApproved
				,LYSDDate
				,LYSDFatPercent
				,LYSDSNFPercent
				,LYSDFatKG		
				,LYSDSNFKG
				,CreatedByIP
				,CreatedOn
				)
			VALUES
				( @Date	
				,@UnitID
				,@Milkqty
				,@lysdqty
				,@Milkfat		
				,@MilkSNF		
				,@Milkfatperc	
				,@MilkSNFperc	

				,@WBVerient
				,@WBOBal
				,@WBManuf
				,@Butterqty  	
				,@avlButterstock  --@Butterstock

				,@SMPVerient
				,@SMPBal
				,@SMPManuf
				,@MilkPowderqty
				,@avlSMPstock --@MilkPowderstock

				,@WMPVerient
				,@WMPBal
				,@WMPManuf
				,@WholeMilkPowderqty
				,@avlWMPstock --@WholeMilkPowderstock	

				,@GheeVerient
				,@GheeBal
				,@GheeManuf
				,@Gheeqty				
				,@avlGheestock --@Gheestock
				
				,0
				,0
				,@LYSDDate		
				,@LYSDFatPercent
				,@LYSDSNFPercent
				,@LYSDFatKG		
				,@LYSDSNFKG
				,@CreatedByIP
				,GETDATE()
				)

			SELECT	@status =1 ,@msg='InFlow Details Added Successfully'	 	
		End
		Else 
		SELECT	@status =1 ,@msg='InFlow Details Already Exists'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[usp_AddManufItem]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddManufItem]
    @Date DATE,
    @ManufItems [DemandedItemsList] READONLY
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL, @MnfId INT = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			insert into tbl_PlantManufacturing(Date)
			values(@Date)

			select @MnfId= SCOPE_IDENTITY()

			INSERT INTO PlantManufacturingData ([MnfID],[Date],ItemID, ItemName, Quantity)
			SELECT @MnfId, @Date,ItemID, ItemName, Quantity  FROM @ManufItems;

			SELECT @status = 1, @msg = 'Items added Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSales]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------
CREATE proc  [dbo].[usp_AddSales]
		@Date date
		,@NameOfUnit		VARCHAR(100)
		,@LYSDQty		int
		,@ItemCategory varchar(50)
		,@Items [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  ,@SalesID int=null
	  BEGIN TRY
		  BEGIN transaction
			INSERT INTO [dbo].trn_Sale
					   ([Date]					
					   ,[NameOfUnit]
					   ,LYSDQty
					   ,[ItemCategory]
					  )
				 VALUES
					   (@date
					   ,@NameOfUnit
					   ,@LYSDQty
					   ,@ItemCategory)
			select @SalesID =SCOPE_IDENTITY();
			INSERT INTO [dbo].trn_SaleChild
					   ([SalesID]
					   ,  ItemID,
					   [ItemName]
					   ,[Quantity]
					   )
				 select @SalesID,ItemID, ItemName,Quantity from @Items
			SELECT	@status =1 ,@msg='Sales Details  Added Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddTarget]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AddTarget]
    @Targetmonth DATE,
    @ItemCategory VARCHAR(50),
    @TargetItems [typ_SoldItems] READONLY,
     @TotalTarget			DECIMAL(18, 2) = 0,          -- New parameter for total TargetData
     @TotalCumulative		DECIMAL(18, 2) = 0,      -- New parameter for total Cumulative
     @TotalAbsolute			DECIMAL(18, 2) = 0,        -- New parameter for total TargetAbsolute
     @TotalAvgGrowth		 DECIMAL(18, 2) = 0        -- New parameter for total AvgGrowthPerc
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL, @TargetId INT = NULL;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert into TrnTarget
        INSERT INTO TrnTarget (Targetmonth, ItemCategory)
        VALUES (@Targetmonth, @ItemCategory);

        SELECT @TargetId = SCOPE_IDENTITY();

        -- Insert into trnTargetChild
        INSERT INTO trnTargetChild (TargetId, ItemID, ItemName, TargetData, Cumulative, TargetAbsolute, AvggrowthPerc)
        SELECT @TargetId, ItemID, ItemName, TargetData, [SaleCumulative], [SaleAbsolute], [AvgGrowthPer]
        FROM @TargetItems;


		SET IDENTITY_INSERT [dbo].TrnTargetTotals ON 
       
        INSERT INTO TrnTargetTotals (TargetId, TotalTarget, TotalCumulative, TotalAbsolute, TotalAvgGrowth)
        VALUES (@TargetId, @TotalTarget, @TotalCumulative, @TotalAbsolute, @TotalAvgGrowth);
		SET IDENTITY_INSERT [dbo].TrnTargetTotals OFF
      

        SELECT @status = 1, @msg = 'Demand added Successfully';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH   
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();	
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END

GO
/****** Object:  StoredProcedure [dbo].[Usp_AproveInflow]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_AproveInflow]
    
				 @InflowId 				 int
				,@Milkqty				 int
				,@Milkfat				 decimal(18,2)
				,@MilkSNF				 decimal(18,2)
				,@Milkfatperc			 decimal(18,2)
				,@MilkSNFperc			 decimal(18,2)

				,@Butterqty				 int
				,@Butterstock			 int
				,@MilkPowderqty			 int
				,@MilkPowderstock		 int
				,@WholeMilkPowderqty int
				,@WholeMilkPowderstock	int
				,@Gheeqty				int
				,@Gheestock				int
				
				,@lysdqty			decimal(18,2)
				,@LYSDFatPercent decimal(18,2) null
				,@LYSDSNFPercent decimal(18,2) null
				,@LYSDFatKG		decimal(18,2) null
				,@LYSDSNFKG		decimal(18,2) null
				
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION  
			update Trn_InflowDetails
			set 
			 [Milkqty]		   =@Milkqty		
			,[Milkfat]		   =@Milkfat		
			,[MilkSNF]		   =@MilkSNF		
			,[Milkfatperc]	   =@Milkfatperc	
			,[MilkSNFperc]	   =@MilkSNFperc

			,[Butterqty]	   =@Butterqty		
			,[Butterstock]	   =@Butterstock	
			,[MilkPowderqty]	=@MilkPowderqty	
			,[MilkPowderstock]  =@MilkPowderstock
			,WholeMilkPowderqty 	   =@WholeMilkPowderqty 
			,WholeMilkPowderstock	   =@WholeMilkPowderstock	
			,Gheeqty				   =@Gheeqty				
			,Gheestock				   =@Gheestock

			,lysdqty				   =@lysdqty
			,LYSDFatPercent			   =@LYSDFatPercent	
			,LYSDSNFPercent			   =@LYSDSNFPercent	
			,LYSDFatKG				   =@LYSDFatKG		
			,LYSDSNFKG				   =@LYSDSNFKG		
			,IsApproved     =    1
			where 
			InflowId=@InflowId
		sELECT	@status =1 ,@msg='In Flow Is Approved  and Updated'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteDemand]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE  proc  [dbo].[usp_DeleteDemand]
     @DemandId int		
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null 
	  BEGIN TRY
		  BEGIN transaction 
      
	delete from  [dbo].[trn_Demand]
	where DemandId    =    @DemandId 

	delete from [trn_DemandsChild] 
	where DemandId    =    @DemandId



			SELECT	@status =1 ,@msg='Demand Deleted Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end

  






GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteInFlow]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------
create proc  [dbo].[usp_DeleteInFlow]
	 @InflowId			int
 

  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		Delete from   [dbo].[Trn_InflowDetails]
		
		where InflowId =@InflowId


			SELECT	@status =1 ,@msg='InFlow Details Deleted Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteManufItem]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_DeleteManufItem]
	@MnfId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			DELETE FROM tbl_PlantManufacturing
			WHERE MnfID=@MnfId

			DELETE FROM PlantManufacturingData 	WHERE MnfID=@MnfId


			SELECT @status = 1, @msg = 'Manufacturing Details Deleted Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSales]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc  [dbo].[usp_DeleteSales]	
		@SalesID			int
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  
	  BEGIN TRY
		  BEGIN transaction
			delete from trn_Sale 
			Where SalesID=@SalesID

			delete from trn_SaleChild  
			Where SalesID=@SalesID 

		
			SELECT	@status =1 ,@msg='Sales Details  Deleted Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteTarget]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Usp_DeleteTarget]
	@TargetId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			
			delete from  [dbo].[TrnTarget]
			where TargetId=@TargetId

			delete from trnTargetChild 
			where TargetId=@TargetId

			SELECT	@status =1 ,@msg='Target Deleted Successfully'	 

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDemand]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[Usp_GetDemand]	
 @FromDate date=null,
    @ToDate date= null
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
				select [DemandId], 
				FORMAT(date,'dd/MM/yyyy') [Date]
				, [ItemCategory], [Shift], [Retailer], UnitID,UnitName [VehicleName], [DemandType]   from trn_Demand	d	
				join mst_Unit u on VehicleName=UnitID 			
				where (d.Date>= @FromDate or @FromDate is null)and (d.Date<=@ToDate or @ToDate is null)	
				order by  [Date] desc
	
		SELECT	@status =1 ,@msg='Demand Details Added Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg]
  end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDemandItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetDemandItems]
   
  @DemandId int		
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION 
		
		select ItemID ,ItemName, Quantity,AdvancedCard from trn_DemandsChild where DemandId=@DemandId
		
	
			SELECT	@status =1 ,@msg='Demanded Items  Get Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetInflowDetails]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_GetInflowDetails]
@FromDate date=null,
@ToDate date= null
AS
BEGIN
declare @status bit=0 ,@msg varchar(100)=null 
	BEGIN TRY
		BEGIN transaction 

	
		if (@FromDate='')
		BEGIN
			select @FromDate=null;
		END
		if (@ToDate='')
		BEGIN
			select @ToDate=null;
		END
		SELECT 
		[InflowId]
		, [UnitID]
		, mu.[Unit name] UnitName
		, FORMAT(date,'dd/MM/yyyy') date
		, [Milkqty]
		, [Milkfat]
		, [MilkSNF]

		, [Milkfatperc]
		, [MilkSNFperc]

		, [WBOBal]
		, [WBManuf]
		, [Butterqty]
		, [Butterstock]

		, [SMPBal]
		, [SMPManuf]
		, [MilkPowderqty]
		, [MilkPowderstock]
	
		, [WMPBal]
		, [WMPManuf]
		, [WholeMilkPowderqty]
		, [WholeMilkPowderstock]
		, GheeVerient as GheeID
		, (Select i.ItemName from mst_Item i where i.ItemID=GheeVerient) GheeVerient
		, [GheeBal]
		, [GheeManuf]
		, [Gheeqty]
		, [Gheestock]

		, [lysdqty]
		, FORMAT(ISNULL(LYSDDate,DATEADD(year,-1, [Date]) ),'dd/MM/yyyy') LYSDDate
		, [LYSDFatPercent]
		, [LYSDSNFPercent]
		, [LYSDFatKG]
		, [LYSDSNFKG]	
		, [IsVerifed]
		, [IsApproved]

		FROM Trn_InflowDetails tf
			INNER JOIN [mst_InflowUnits] mu ON tf.UnitID = mu.id

			where (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	
			order by [IsVerifed] , [Date] desc,CreatedOn desc

		SELECT	@status =1 ,@msg='inflow selected  Successfully'	 
	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()
	END CATCH;
SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetInflowToAprove]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  proc  [dbo].[Usp_GetInflowToAprove]
     @IsApproved bit =null,
	 @FromDate date=null,
     @ToDate date= null
as
  begin 
	declare	 @status bit=0 ,
	 @msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION 
		
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
		
		select InflowId
				,[Trn_InflowDetails].UnitID
				,unit.[Unit name] UnitName
				,  FORMAT(Date,'dd/MM/yyyy') [Date]
				,Milkqty
				,Milkfat
				,MilkSNF
				,Milkfatperc
				,MilkSNFperc
				,Butterqty
				,Butterstock
				,MilkPowderqty
				,MilkPowderstock
				,WholeMilkPowderqty		
				,WholeMilkPowderstock	
				,(Select i.ItemName from mst_Item i where i.ItemID=GheeVerient) GheeVerient
				,Gheeqty				
				,Gheestock				
				,lysdqty
				,LYSDFatPercent	
				,LYSDSNFPercent	
				,LYSDFatKG		
				,LYSDSNFKG		
				,IsApproved from [Trn_InflowDetails]
				inner join [mst_InflowUnits] unit on unit.Id= [Trn_InflowDetails].UnitID
				where  IsVerifed =1 and( IsApproved= @IsApproved or @IsApproved is NULL) and (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	

			SELECT	@status =1 ,@msg='In Flow Details Selected  Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetinflowUnit]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc  [dbo].[Usp_GetinflowUnit]
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY

		select id [Id] ,[Unit name] [Name] from [mst_InflowUnits]
	
	    SELECT	@status =1 ,@msg='Unit Name selectted Successfully'	 
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetItemDetails]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetItemDetails]
 @FromDate date=null,
    @ToDate date= null
	
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION
			if (@FromDate='')
			BEGIN
			 select @FromDate=null
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null
			end
			select  
			SalesID ,
			unit.UnitName  ,
			unit.UnitID,
			ItemCategory,
			  FORMAT(Date,'dd/MM/yyyy') [Date] ,
			isnull(LYSDQty,0) LYSDQty,
			isnull((select SUM(child.Quantity) from trn_SaleChild child where Sale.SalesID=child.SalesID),0) [Total]
			from trn_Sale Sale
			join mst_Unit unit on unit.UnitID=Sale.NameOfUnit
			where (Sale.Date>= @FromDate or @FromDate is null)and (Sale.Date<=@ToDate or @ToDate is null)	
			order by Sale.Date desc
	
			SELECT	@status =1 ,@msg='OutFlow Flow Details Saved Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetLYSDQty]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[Usp_GetLYSDQty]	
@date date ,
@UnitID int 
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
			select ISNULL(Date,DATEADD(YEAR,-1,@date)) date,
			ISNULL(Milkqty,0)Milkqty,
			ISNULL(Milkfatperc,0) Milkfatperc, 
			isnull(Milkfat,0) Milkfat,
			isnull(MilkSNFperc,0)MilkSNFperc,
			isnull(MilkSNF,0)MilkSNF 
			from Trn_InflowDetails
			where date = DATEADD(YEAR,-1,@date) and UnitID = @UnitID
	
		SELECT	@status =1 ,@msg='Demand Details Added Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetOpeningBal]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE proc  [dbo].[Usp_GetOpeningBal]
	  @ItemID int ,
	  @date date,
	  @Condition Varchar(50)
  as
  begin
	 declare @status bit=0 ,@msg varchar(100)=null ,@Stock decimal(18,2)=0,@mfn decimal(18,2)=0
	  BEGIN TRY

		if @date=''
		BEGIN
			set @date = GETDATE()
		END

	
		if (@Condition='WMP')
		BEGIN
			select top 1 @Stock=ISNULL(WholeMilkPowderstock,0)   from  Trn_InflowDetails  [inf]
			where [inf].[Date]<@date and WMPVerient=@ItemID order by Date desc ,InflowId desc
		END
		else 
		if (@Condition='Wb')
		BEGIN
			select top 1 @Stock= iSNULL(Butterstock,0)    from  Trn_InflowDetails  [inf]
			where [inf].[Date]<@date and WBVerient=@ItemID  order by Date desc,InflowId desc			
		END
		else 
		if (@Condition='SMP')
		BEGIN
			select  top 1 @Stock=  ISNULL(WholeMilkPowderstock,0)  from  Trn_InflowDetails  [inf]
			where [inf].[Date]<@date and SMPVerient=@ItemID order by Date desc,InflowId desc			
		END
		else 
		if (@Condition='Ghee')
		BEGIN
			--select @TotalRecived=ISNULL(sum(Gheeqty),0) from  Trn_InflowDetails  [inf]
			--where [inf].[Date]<@date and GheeVerient=@ItemID
			select top 1 @Stock=  Gheestock from Trn_InflowDetails where Date <@date  and  GheeVerient=@ItemID 
			order by Date desc,InflowId desc
			
			
		END
		

		select 	 @Stock OpeningBal
	
		

			SELECT	@status =1 ,@msg='Opening Balance selectted Successfully'	 
			SELECT	@status [status] ,@msg [msg]
		END TRY
		BEGIN CATCH          
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
			SELECT	@status [status] ,@msg [msg]
		END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPlantManf]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[Usp_GetPlantManf]	
 @FromDate date=null,
    @ToDate date= null
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  ,@DemandId int=null
	BEGIN TRY
		BEGIN TRANSACTION
		if (@FromDate='')
			BEGIN
			 select @FromDate=null
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null
			end

		select MnfID ,
		FORMAT(date,'dd/MM/yyyy') [Date] , 
		isnull((select SUM(Quantity) from PlantManufacturingData where pm.MnfID=MnfID),0)
		[Total]
		from tbl_PlantManufacturing pm
		where (pm.Date>= @FromDate or @FromDate is null)and (pm.Date<=@ToDate or @ToDate is null)	
			order by  pm.[Date] desc
	
		SELECT	@status =1 ,@msg='Plant Manufacturing Details Selected Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPlantManfItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Usp_GetPlantManfItems]
	@MnfId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			select   ManufItemId,ItemID,ItemName,Quantity from  PlantManufacturingData 	WHERE MnfID=@MnfId

			SELECT @status = 1, @msg = 'Items added Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetsalesItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc  [dbo].[Usp_GetsalesItems]
	@SalesID int 
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null  
	BEGIN TRY
		BEGIN TRANSACTION  
	
		select ItemID,ItemName,Quantity from trn_SaleChild child where @SalesID=child.SalesID
		
	
			SELECT	@status =1 ,@msg='Sales Items Selected Successfully'	 	
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH   
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end


GO
/****** Object:  StoredProcedure [dbo].[usp_GetTarget]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetTarget]                   
 @FromDate date=null,
    @ToDate date= null
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL    
    BEGIN TRY
        BEGIN TRANSACTION;
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
		select t.TargetId ,
		  FORMAT(t.Targetmonth,'dd/MM/yyyy') Targetmonth
		
		,t.ItemCategory ,sum(tc.TargetData) TotalTarget
			from TrnTarget t
			inner join trnTargetChild  tc on tc.TargetId=t.TargetId
			where (t.Targetmonth>= @FromDate or @FromDate is null)and (t.Targetmonth<=@ToDate or @ToDate is null)	
			group by t.TargetId ,t.Targetmonth,t.ItemCategory 
			order by t.Targetmonth desc


        SELECT @status = 1, @msg = 'Target Selected Successfully';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH   
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();	
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTargetItems]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetTargetItems]
	@TargetId INT 
	
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			select ItemID,ItemName,TargetData,Cumulative SaleCumulative,TargetAbsolute SaleAbsolute,AvggrowthPerc AvgGrowthPer from  trnTargetChild 	WHERE TargetId=@TargetId
			order by ItemName

			SELECT @status = 1, @msg = 'Items added Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUnit]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc  [dbo].[Usp_GetUnit]
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
		select UnitID [Id] ,UnitName [Name] from [mst_Unit]
	
	    SELECT	@status =1 ,@msg='Unit Name selectted Successfully'	 
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDemand]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create  proc  [dbo].[usp_UpdateDemand]
     @DemandId int		
	,@Date date
	,@ItemCategory varchar(50)
	,@Shift varchar(10)
	,@Retailer varchar(50)
	,@VehicleName varchar(20)
	,@DemandType varchar(20)
	,@DemandItems [DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null 
	  BEGIN TRY
		  BEGIN transaction 
      

	  update  [dbo].[trn_Demand]

	  set 
      [Date]		   =	@date
	 ,[ItemCategory]   =	@ItemCategory
	 ,[Shift]		   =	@Shift
	 ,[Retailer]	   =	@Retailer
	 ,[VehicleName]	   =	@VehicleName
	 ,[DemandType]	   =	@DemandType  
	 where DemandId    =    @DemandId


	 delete from [trn_DemandsChild] 
	 where DemandId    =    @DemandId

	INSERT INTO [dbo].[trn_DemandsChild]
			([DemandId]
			,ItemID
			,[ItemName]
			,[Quantity]
			,[AdvancedCard])
     
		select @DemandId,ItemID, ItemName,Quantity,AdvancedCard from @DemandItems


			SELECT	@status =1 ,@msg='Demand Udated Successfully'	 
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH   
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end




GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateInFlow]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_UpdateInFlow]
	 @InflowId			int
    ,@Date				date
	,@UnitID     		int
	,@Milkqty			int
	,@lysdqty			decimal(18,2)
	,@Milkfat			decimal(18,2)
	,@MilkSNF			decimal(18,2)
	,@Milkfatperc		decimal(18,2)
	,@MilkSNFperc		decimal(18,2)
	,@LYSDDate			date null
	,@LYSDFatPercent	decimal(18,2) null
	,@LYSDSNFPercent	decimal(18,2) null
	,@LYSDFatKG			decimal(18,2) null
	,@LYSDSNFKG			decimal(18,2) null

	,@WBOBal				[decimal](18, 2)
	,@WBManuf				[decimal](18, 2)
	,@Butterqty  			int
	--,@Butterstock  			int

	,@SMPBal				[decimal](18, 2)
	,@SMPManuf				[decimal](18, 2)
	,@MilkPowderqty  		int
	--,@MilkPowderstock		int
	,@WMPBal				[decimal](18, 2)
	,@WMPManuf				[decimal](18, 2)
	,@WholeMilkPowderqty	int
	--,@WholeMilkPowderstock	int
	,@GheeBal				[decimal](18, 2)
	,@GheeManuf				[decimal](18, 2)
	,@Gheeqty				int
	--,@Gheestock				int
	,@GheeVerient			varchar(5)
	,@WBVerient				varchar(5)  
	,@SMPVerient			varchar(5)  
	,@WMPVerient			varchar(5) 
	,@UpdatedByIP			varchar(45)
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null,
	@avlButterstock int =0,
	@avlSMPstock int =0,
	@avlWMPstock int =0,
	@avlGheestock int =0,
	@TodayMnf decimal(18, 2) =0,
	@TodayReceived decimal(18, 2) =0
	BEGIN TRY
		BEGIN TRANSACTION
		if not exists(select 1 from [Trn_InflowDetails] where Date=@Date and UnitID=@UnitID and InflowId!=@InflowId)
		begin

		-------------------------------
		select top 1 @avlButterstock =Butterstock
		from  Trn_InflowDetails where [Date]<@Date and 
		WBVerient=@WBVerient  order by Date desc, InflowId desc 
		
		
		select  top 1 @TodayMnf = ISNULL(sum([WBManuf]),0) +@WBManuf,@TodayReceived=ISNULL(sum(Butterqty),0)+@Butterqty
		from  Trn_InflowDetails where [Date]=@Date and 
		WBVerient=@WBVerient  and InflowId!=@InflowId
		group by [Date]
		order by [Date] desc
		---------------------------------------

		 select  @avlButterstock=(@avlButterstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@WBVerient,@Date)

		---------------------------------------

		select  top 1 @avlSMPstock=MilkPowderstock 
		from  Trn_InflowDetails where [Date]<@Date and 
		SMPVerient=@SMPVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(SMPManuf),0) +@SMPManuf,@TodayReceived=ISNULL(sum(MilkPowderqty),0)+@MilkPowderqty
		from  Trn_InflowDetails where [Date]=@Date and 
		SMPVerient=@SMPVerient  and InflowId!=@InflowId
		group by [Date]
		order by [Date] desc
		---------------------------------------

		 select  @avlSMPstock=(@avlSMPstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@SMPVerient,@Date)

		---------------------------------------


		select top 1 @avlWMPstock =WholeMilkPowderstock
		from  Trn_InflowDetails where [Date]<@Date and 
		WMPVerient=@WMPVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(WMPManuf),0) +@WMPManuf,@TodayReceived=ISNULL(sum(WholeMilkPowderqty),0)+@WholeMilkPowderqty
		from  Trn_InflowDetails where [Date]=@Date and 
		WMPVerient=@WMPVerient  and InflowId!=@InflowId
		group by [Date]
		order by [Date] desc
		---------------------------------------
		 select  @avlWMPstock=(@avlWMPstock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@WMPVerient,@Date)

		---------------------------------------

		select top 1 @avlGheestock =Gheestock
		from  Trn_InflowDetails where [Date]<@Date and 
		GheeVerient=@GheeVerient order by Date desc, InflowId desc 

		select  top 1 @TodayMnf = ISNULL(sum(GheeManuf),0) +@GheeManuf,@TodayReceived=ISNULL(sum(Gheeqty),0)+@Gheeqty
		from  Trn_InflowDetails where [Date]=@Date and 
		GheeVerient=@GheeVerient  and InflowId!=@InflowId
		group by [Date]
		order by [Date] desc
		---------------------------------------
		 select  @avlGheestock=(@avlGheestock+@TodayMnf+@TodayReceived)-isnull(Sale,0) from GetsaleAndMnf(@GheeVerient,@Date)
		---------------------------------------
		update   [dbo].[Trn_InflowDetails]
		set
		  Date				= @Date				
		, UnitID     		= @UnitID     		
		, Milkqty			= @Milkqty			
		, lysdqty			= @lysdqty			
		, Milkfat			= @Milkfat			
		, MilkSNF			= @MilkSNF			
		, Milkfatperc		= @Milkfatperc		
		, MilkSNFperc		= @MilkSNFperc	
		
		, LYSDDate			= @LYSDDate			
		, LYSDFatPercent	= @LYSDFatPercent	
		, LYSDSNFPercent	= @LYSDSNFPercent	
		, LYSDFatKG			= @LYSDFatKG			
		, LYSDSNFKG			= @LYSDSNFKG
		,WBOBal					=@WBOBal				
		,WBManuf				=@WBManuf				
		,Butterqty  			=@Butterqty  			
		,Butterstock  			=@avlButterstock --@Butterstock  			
		,SMPBal					=@SMPBal				
		,SMPManuf				=@SMPManuf				
		,MilkPowderqty  		=@MilkPowderqty  		
		,MilkPowderstock		=@avlSMPstock --@MilkPowderstock		
		,WMPBal					=@WMPBal				
		,WMPManuf				=@WMPManuf				
		,WholeMilkPowderqty		=@WholeMilkPowderqty	
		,WholeMilkPowderstock	=@avlWMPstock --@WholeMilkPowderstock	
		,GheeBal				=@GheeBal				
		,GheeManuf				=@GheeManuf				
		,Gheeqty				=@Gheeqty				
		,Gheestock				=@avlGheestock --@Gheestock	
		,GheeVerient			=@GheeVerient
		,UpdatedByIP			=@UpdatedByIP
		,UpdatedOn				=GETDATE()	
		
		where InflowId =@InflowId


			SELECT	@status =1 ,@msg='InFlow Details Updated Successfully'	 
		end
		else 
			SELECT	@status =1 ,@msg='InFlow Details already exists'	 

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end




GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateManufItem]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateManufItem]
	@MnfId INT ,
	@Date DATE,
	@ManufItems [DemandedItemsList] READONLY
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL
    BEGIN TRY
        BEGIN TRANSACTION
			UPDATE tbl_PlantManufacturing
			SET Date= @Date
			WHERE MnfID=@MnfId

			DELETE FROM PlantManufacturingData 	WHERE MnfID=@MnfId

			INSERT INTO PlantManufacturingData ([MnfID],[Date],ItemID, ItemName, Quantity)
			SELECT @MnfId, @Date,ItemID, ItemName, Quantity  FROM @ManufItems;

			SELECT @status = 1, @msg = 'Manufacturing Details Updated Successfully'
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE()
    END CATCH;
    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSales]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[usp_UpdateSales]	
		@SalesID			int
		,@Date				date
		,@NameOfUnit		VARCHAR(100)
		,@LYSDQty			int
		,@ItemCategory		varchar(50)
		,@Items				[DemandedItemsList]   readonly
  as
  begin
	  declare @status bit=0 ,@msg varchar(100)=null  
	  BEGIN TRY
		  BEGIN transaction


		--if exists(select 1 from @Items where ItemID in(select WMPVerient from Trn_InflowDetails
		--union   
		--select WbVerient from Trn_InflowDetails
		--union 
		--select SMPVerient from Trn_InflowDetails
		--union 
		--select GheeVerient from Trn_InflowDetails))
		--begin 

		--	update Trn_InflowDetails 
		--	set Gheestock=Gheestock
		--	from Trn_InflowDetails inf
		--	inner join  @Items i on  i.ItemID=inf.GheeVerient
		--	where GheeVerient=
		--end



		  update trn_Sale 
		  set [Date]			=	   @Date			
			  ,[NameOfUnit]		=	   @NameOfUnit	
			  ,LYSDQty			=	   @LYSDQty		
			  ,[ItemCategory]	=	   @ItemCategory	
			  Where SalesID=@SalesID

			delete from trn_SaleChild
			where SalesID=@SalesID
			
			INSERT INTO [dbo].trn_SaleChild
					   ([SalesID]
					   ,  ItemID,
					   [ItemName]
					   ,[Quantity]
					   )
				 select @SalesID,ItemID, ItemName,Quantity from @Items
			SELECT	@status =1 ,@msg='Sales Details  Updated Successfully'	
	
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
		
		END CATCH;
		 SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateTarget]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_UpdateTarget]
@TargetId int,
    @Targetmonth DATE,
    @ItemCategory VARCHAR(50),
    @TargetItems [typ_SoldItems] READONLY
   
AS
BEGIN
    DECLARE @status BIT = 0, @msg VARCHAR(100) = NULL    
    BEGIN TRY
        BEGIN TRANSACTION;

       
		update TrnTarget
		set  Targetmonth=@Targetmonth
		where TargetId=@TargetId


		UPDATE trnTargetChild
			SET 
				TargetData = temp.TargetData,
				[Cumulative] = temp.SaleCumulative,
				[TargetAbsolute] = temp.SaleAbsolute,
				AvggrowthPerc = temp.AvgGrowthPer
			FROM trnTargetChild child
			JOIN @TargetItems temp ON temp.ItemID = child.ItemID
			WHERE child.TargetId = @TargetId 


        SELECT @status = 1, @msg = 'Target Upadted Successfully';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH   
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();	
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END

GO
/****** Object:  StoredProcedure [dbo].[uspTransReport]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[uspTransReport]
@FromDate date null,
@ToDate date null
  as
  begin
	declare @status bit=0 ,@msg varchar(100)=null
	BEGIN TRY
		BEGIN TRANSACTION
		
			SELECT 
				dc.ItemID,
				SUM(dc.Quantity) AS TotalDemand
			INTO #DemandTemp
			FROM 
				trn_DemandsChild dc
			INNER JOIN 
				trn_Demand d ON d.DemandId = dc.DemandId
			WHERE 
				d.Date >= @FromDate AND d.Date <= @ToDate
			GROUP BY 
				dc.ItemID;

			-- Insert aggregated data for Sales into Temporary Table
			SELECT 
				sc.ItemID,
				SUM(sc.Quantity) AS TotalSales
			INTO #SalesTemp
			FROM 
				trn_SaleChild sc
			INNER JOIN 
				trn_Sale s ON s.SalesID = sc.SalesID
			WHERE 
				s.Date >= @FromDate AND s.Date <= @ToDate
			GROUP BY 
				sc.ItemID;

			-- Insert aggregated data for Manufacturing into Temporary Table
			SELECT 
				mnfd.ItemID,
				SUM(mnfd.Quantity) AS TotalManufacturing
			INTO #ManufacturingTemp
			FROM 
				PlantManufacturingData mnfd
			INNER JOIN 
				tbl_PlantManufacturing mnf ON mnf.MnfID = mnfd.MnfID
			WHERE 
				mnf.Date >= @FromDate AND mnf.Date <= @ToDate
			GROUP BY 
				mnfd.ItemID;

			-- Select data from the mst_Item table and join with the temporary tables
			SELECT 
				i.ItemName,
				ISNULL(d.TotalDemand, 0) AS Demand,
				ISNULL(s.TotalSales, 0) AS Sales,
				ISNULL(m.TotalManufacturing, 0) AS Manufacturing
			FROM 
				mst_Item i
			LEFT JOIN  
				#DemandTemp d ON d.ItemID = i.ItemID
			LEFT JOIN  
				#SalesTemp s ON s.ItemID = i.ItemID
			LEFT JOIN  
				#ManufacturingTemp m ON m.ItemID = i.ItemID
			WHERE
				-- Ensure that at least one of the temporary tables has data for the given date range
				(d.TotalDemand IS NOT NULL OR s.TotalSales IS NOT NULL OR m.TotalManufacturing IS NOT NULL)
			ORDER BY 
				i.ItemName;

			-- Clean up Temporary Tables
			DROP TABLE #DemandTemp;
			DROP TABLE #SalesTemp;
			DROP TABLE #ManufacturingTemp;
	
			SELECT	@status =1 ,@msg='Report  data Selected  Successfully'	 
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end
GO
/****** Object:  StoredProcedure [dbo].[uspVerifierDetails]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspVerifierDetails]
@IsVerifed bit =null,
@FromDate date=null,
@ToDate date= null
AS
BEGIN

	
		if (@FromDate='')
			BEGIN
			 select @FromDate=null;
			END
		if (@ToDate='')
			BEGIN
			 select @ToDate=null;
			END
		

    SELECT 
        tf.InflowId,
        mu.[Unit name] UnitName,
         FORMAT(tf.Date,'dd/MM/yyyy') [Date],
        tf.Milkqty,
        tf.Milkfat,
        tf.MilkSNF,
        tf.Milkfatperc,
        tf.MilkSNFperc,
        tf.Butterqty,
        tf.Butterstock,
        tf.MilkPowderqty,
        tf.MilkPowderstock
			,tf.WholeMilkPowderqty	
			,tf.WholeMilkPowderstock	
			, (Select i.ItemName from mst_Item i where i.ItemID=GheeVerient) GheeVerient
			,tf.Gheeqty				
			,tf.Gheestock	
			,tf.lysdqty
			,tf.LYSDFatPercent		
			,tf.LYSDSNFPercent		
			,tf.LYSDFatKG			
			,tf.LYSDSNFKG			
		,IsVerifed

    FROM Trn_InflowDetails tf
    INNER JOIN [mst_InflowUnits] mu
    ON tf.UnitID = mu.id
		where IsApproved =0 and( IsVerifed= @IsVerifed or @IsVerifed is NULL) and (Date>= @FromDate or @FromDate is null)and (Date<=@ToDate or @ToDate is null)	
	order by IsVerifed,Date desc
END

GO
/****** Object:  StoredProcedure [dbo].[uspVerifierUpdate]    Script Date: 25-Nov-24 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspVerifierUpdate]
    @InflowId int, 
    @Milkqty int, 
    @Milkfat decimal(18, 2),
    @MilkSNF decimal(18, 2),
    @Milkfatperc decimal(18, 2), 
    @MilkSNFperc decimal(18, 2), 
    @Butterqty int, 
    @Butterstock int, 
    @MilkPowderqty int, 
    @MilkPowderstock int
	,@WholeMilkPowderqty		int
	,@WholeMilkPowderstock		int
	,@Gheeqty					int
	,@Gheestock					int

	,@lysdqty			decimal(18,2)
	,@LYSDFatPercent decimal(18,2) null
	,@LYSDSNFPercent decimal(18,2) null
	,@LYSDFatKG		decimal(18,2) null
	,@LYSDSNFKG		decimal(18,2) null
AS
BEGIN
    DECLARE @Status bit, @msg varchar(100) = ''

    IF EXISTS (SELECT 1 FROM Trn_InflowDetails WHERE InflowId = @InflowId)
    BEGIN
        UPDATE Trn_InflowDetails
        SET 
             Milkqty				 =@Milkqty
            ,Milkfat				 =@Milkfat
            ,MilkSNF				 =@MilkSNF
            ,Milkfatperc			 =@Milkfatperc
            ,MilkSNFperc			 =@MilkSNFperc
            ,Butterqty				 =@Butterqty
            ,Butterstock			 =@Butterstock
            ,MilkPowderqty			 =@MilkPowderqty
            ,MilkPowderstock		 =@MilkPowderstock
			,WholeMilkPowderqty		 =@WholeMilkPowderqty		
			,WholeMilkPowderstock	 =@WholeMilkPowderstock	
			,Gheeqty				 =@Gheeqty				
			,Gheestock				 =@Gheestock
			,lysdqty				 =@lysdqty			
			,LYSDFatPercent			 =@LYSDFatPercent
			,LYSDSNFPercent			 =@LYSDSNFPercent
			,LYSDFatKG				 =@LYSDFatKG		
			,LYSDSNFKG				 =@LYSDSNFKG
			,IsVerifed				 = 1
        WHERE InflowId				 = @InflowId

        SET @Status = 1
        SET @msg = 'Item Verified successfully'
    END
    ELSE
    BEGIN
        SET @Status = 0
        SET @msg = 'Not Verified'
    END

    SELECT @Status AS sts, @msg AS msg
END










GO
USE [master]
GO
